@font-face {
    font-family: clock;
    src: url(../../assets/ExoMedium-5mMV.otf) format('opentype');
}

h3{
    line-height: 150%;
}

.grid20 { 
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.grid10 { 
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}

.grid25 { 
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.grid100 { 
    display: grid;
    grid-template-columns: 100%;
}

.overlay {
    position: absolute;
    opacity: 50%;
    background-color: blueviolet;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    width: 100%;
    height: 100%;
}

.inner-box{
    background-color: blueviolet;
    position: absolute;
    margin: 20.5% 22.5% 0% 22.5%;
    width: 55%;
    height: 49%;
    text-align: center;
}

.big-text{
    font-size: 370%;
    line-height: 140%;
}

.clock{
    font-family: clock;
}

.middle{
    text-align: center;
}