<div class="row">
    <form (ngSubmit)='setGameSize()' #gameSizeSelect="ngForm">
        <div class="grid2 col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">    
            <select 
                id="size" 
                class="form-control input-center"
                [(ngModel)]="defaultSize"
                name="size">
                <option *ngFor="let size of gameSize" class="input-center centered">
                    {{size}}
                </option>
            </select>
            <div class="grid100">
                <button class="btn btn-primary"><strong>Select Game Size</strong></button>
            </div>
        </div>
    </form>      
</div>
<div *ngIf="success" class="overlay">
</div>
<div *ngIf="success" class="inner-box">
    <h1 class="big-text">Congratulations!</h1>
    <h3>
        You completed the game 
        <br>
        in <strong class="clock">{{minutes}}</strong> minutes 
        and <strong class="clock">{{seconds}}</strong> seconds!
    </h3>
    <h1 class="big-text">You Win!</h1>
    <button class="btn btn-info" (click)="reset()">
        <h2 class="middle">Play Again?</h2>
    </button>
</div>
<br><br>
<div class="centered">
    <div *ngIf="base < 13">
        <div class="grid25">
            <div *ngFor="let cardNum of cards">
                <app-card [size]="base" [value]="cardNum" (cardValue)="checkValue($event)"></app-card>
                <br>
            </div>
        </div>
    </div>
    <div *ngIf="base > 13 && base < 21">
        <div class="grid20">
            <div *ngFor="let cardNum of cards">
                <app-card [size]="base" [value]="cardNum" (cardValue)="checkValue($event)"></app-card>
                <br>
            </div>
        </div>
    </div>
    <div *ngIf="base > 21 && base < 41">
        <div class="grid10">
            <div *ngFor="let cardNum of cards">
                <app-card [size]="base" [value]="cardNum" (cardValue)="checkValue($event)"></app-card>
                <br>
            </div>
        </div>
    </div>
</div>